.FillButton {
    margin-top: 50;
    padding: 10;
    align-self: 'center';
    background-color: '#d5aad4';
    border-color: '#d5aad4';
    border-radius: 30;
}

.EmptyButton {
    margin-top: 20;
    padding: 10;
    align-self: 'center';
    background-color: '#fff';
    border-color: '#d5aad4';
    border-radius: 30;
    color: '#d5aad4';
}